{% extends "templates/default.twig" %}

{% block content %}
    <h1>HOME</h1>
    <!----------------flashMessage---------------->
    {% include 'templates/partials/flash.twig' %}
    <!----------------/.flashMessage---------------->


{% endblock %}